[alias]
  ci = commit
  st = status
  co = checkout
  log = log --oneline --decorate
  pr = pull-request
[user]
	name = Tom Adams
	email = tomjadams@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[default]
	push = tracking
	pull = tracking
[push]
	default = current
[core]
	autocrlf = input
