[alias]
  ci = commit
  st = status -sb
  co = checkout
  log = log --oneline --decorate
  pr = pull-request
  up = pull
[user]
	name = Tom Adams
	email = tomjadams@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[default]
	push = tracking
	pull = tracking
[push]
	default = simple
	#default = current
[core]
	autocrlf = input

[hub]
protocol = https

[pull]
rebase = preserve

#[credential]
#helper = /opt/boxen/bin/boxen-git-credential
